<?php
/**
 * Created by PhpStorm.
 * User: qzhang
 * Date: 2019/2/7
 * Time: 9:40
 */

return [
    'token'             => '',
    'index_uri'         => '',
    'anchors_uri'       => '',
    'key_expire_second' => 600,
];
